@model project1.Models.work

@{
    ViewBag.Title = "workdetails";
    Layout = "~/Views/Shared/sidebar.cshtml";
}

<html>
<head>
    <style>
        /* dl.dl-horizontal {
            padding-left: 40%;
        }*/


        dt {
            color: darkblue;
        }

        dd {
            color: black;
           
        }
    </style>

</head>

<body style="background-image: url('https://lh3.googleusercontent.com/proxy/Q0TT8YF7II0FrY-O3T5mzmgdXdmtxZXekyhwVjWhmU8pfJ8Gz5JJb3Qh9dQT-sMnrqWaDLu4kBJQmKRfZ57FD0Lb81o83iJjNoHk-4FMriGfuwrndn4dVqSZ5Yn85OV6ESolykYeMdW3fqW3-ceFRS0uZ3YXUqs9Fa9ZlISzD1dgF0sbmYJkTaPCYi2yKoTU0gImpgB_FSFYwXXQ46F9LqnQS9fyXvhrp3A');background-size:cover">
    <div>
        <h2 style="color:black" align="center"><b>Work Details</b></h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.previous_emp_comp_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.previous_emp_comp_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.year_exp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.year_exp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.work_domain)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.work_domain)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.basic.empname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basic.empname)
            </dd>

        </dl>
    </div>
    <p>

        @if (Roles.IsUserInRole("Manager"))
        {

            @Html.ActionLink("Edit", "Edit2", new { id = Model.id })
        }
        <br />
        @Html.ActionLink("Back to List", "Pagefilter", "Register")
    </p>
</body>
</html>
